In [2]:
import pandas as pd
from sklearn.feature_extraction.text import TfidfVectorizer

In [7]:
data={0:["My name is aryan","This is a sample document.","Another example of a document.","And here is another document.","One more document for analysis.","Just one last document."]}

In [8]:
pd.DataFrame(data)

                                 0
0                 My name is aryan
1       This is a sample document.
2   Another example of a document.
3    And here is another document.
4  One more document for analysis.
5          Just one last document.

In [9]:
tf=TfidfVectorizer()

In [30]:
tf_mat=tf.fit_transform(data[0]).toarray()
tf_mat

array([[0.        , 0.        , 0.        , 0.53611046, 0.        ,
        0.        , 0.        , 0.        , 0.37115593, 0.        ,
        0.        , 0.        , 0.53611046, 0.53611046, 0.        ,
        0.        , 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.30940768,
        0.        , 0.        , 0.        , 0.41810581, 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.60392649, 0.60392649],
       [0.        , 0.        , 0.47865722, 0.        , 0.2990544 ,
        0.58371814, 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.58371814,
        0.        , 0.        , 0.        ],
       [0.        , 0.54119728, 0.44378951, 0.        , 0.27726983,
        0.        , 0.        , 0.54119728, 0.3746776 , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        ],
       [0.50411896, 0.        , 0.        , 0.        , 0.25827362,
        0.        , 0.50411896, 0.        , 0.        , 0.        ,
        0.        , 0.50411896, 0.        , 0.        , 0.        ,
        0.41338476, 0.        , 0.        ],
       [0.        , 0.        , 0.        , 0.        , 0.2990544 ,
        0.        , 0.        , 0.        , 0.        , 0.58371814,
        0.58371814, 0.        , 0.        , 0.        , 0.        ,
        0.47865722, 0.        , 0.        ]])

In [27]:
name=tf.get_feature_names_out()

In [48]:
for i in range(t.shape[0]):
    score=tf_mat[i].flatten()
    ind=score.argsort()[-3:]
    print(name[ind])

['aryan' 'my' 'name']
['is' 'sample' 'this']
['another' 'example' 'of']
['another' 'here' 'and']
['for' 'more' 'analysis']
['one' 'just' 'last']

In [51]:
data

{0: ['My name is aryan',
  'This is a sample document.',
  'Another example of a document.',
  'And here is another document.',
  'One more document for analysis.',
  'Just one last document.']}